<main id="confirmations">
  <div class="content mb-3">
    <h2>確認メールが届いていませんか？</h2>
    <br>
    <p>下記のフォームにメールアドレスをご入力ください。<br>
      メールが届かない場合、管理者にお問い合わせ頂くよう、お願い致します。</p>
  </div>
  <div id="form">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="col-4 form-outline mb-4">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "認証メールを再送する", class:"btn btn-outline-secondary btn-block" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </main>
