<h2>パスワードを変更する。</h2>
<p>下記、フォームにパスワードをご入力下さい。</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <div>
      <%= f.label :user_name, 'お名前(フルネーム)' %><br>
      <%= f.text_field :user_name, size: 10 %>
      <%= render partial: 'shared/error_messages', locals: { record: @user, symbol: :user_name } %>
    </div>
    <div>
      <%= f.label :telephone, 'お電話番号' %><br>
      <%= f.number_field :telephone, size: 10 %>
      <%= render partial: 'shared/error_messages', locals: { record: @user, symbol: :telephone } %>
    </div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="field">
    <%= f.label :current_password, 'ユーザー情報の変更にはパスワードが必要です。' %> <i></i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <div class="actions">
    <%= f.submit "更新" %>
  </div>
  <%= render partial: 'shared/error_messages', locals: { record: @user, symbol: :password } %>
  <%= render partial: 'shared/error_messages', locals: { record: @user, symbol: :password_confirmation } %>
<% end %>
