<div>
  <%= t('activerecord.attributes.daily_log.vehicle_id') %>:<%= @daily_log.vehicle.vehicle_name + ' - ' +  @daily_log.vehicle.number %>
</div>
<div>
  <%= t('activerecord.attributes.daily_log.departure_datetime') %>:<%= @daily_log.departure_datetime.strftime("%Y年%m月%d日 %H:%M") %>
</div>
<div>
  <%= t('activerecord.attributes.daily_log.arrival_datetime') %>:<%= @daily_log.arrival_datetime.strftime("%Y年%m月%d日 %H:%M") %>
</div>
<div>
  <%= t('activerecord.attributes.daily_log.departure_distance') %>:<%= @daily_log.departure_distance %>
</div>
<div>
  <%= t('activerecord.attributes.daily_log.arrival_distance') %>:<%= @daily_log.arrival_distance %>
</div>
<div>
  <%= t('activerecord.attributes.daily_log.departure_location') %>:<%= @daily_log.departure_location %>
</div>
<div>
  <%= t('activerecord.attributes.daily_log.note') %>:<%= @daily_log.note %>
</div>
<div>
  <%= t('activerecord.attributes.daily_log.is_studless_tire') %>:<%= @daily_log.studless_tire_text? %>
</div>
<div>
  <%= t('activerecord.attributes.daily_log.is_alcohol_check') %>:<%= @daily_log.alcohol_check_text? %>
</div>
<div>
  <%= t('activerecord.attributes.daily_log.arrival_location') %>:<%= @daily_log.arrival_location %>
</div>
<%= f.hidden_field :vehicle_id %>
<%= f.hidden_field :departure_datetime %>
<%= f.hidden_field :arrival_datetime %>
<%= f.hidden_field :departure_distance %>
<%= f.hidden_field :arrival_distance %>
<%= f.hidden_field :departure_location %>
<%= f.hidden_field :arrival_location %>
<%= f.hidden_field :note %>
<%= f.hidden_field :is_studless_tire %>
