<div>
  <%= f.label :vehicle_name, '車名' %><br>
  <%= f.text_field :vehicle_name, size: 10 %>
  <%= render partial: 'shared/error_messages', locals: { record: @vehicle, symbol: :vehicle_name } %>
</div>
<div>
  <%= f.label :number, 'ナンバー' %><br>
  <%= f.text_field :number, size: 10 %>
  <%= render partial: 'shared/error_messages', locals: { record: @vehicle, symbol: :number } %>
</div>
<div>
  <%= f.label :manufacture, 'メーカー' %><br>
  <%= f.text_field :manufacture, size: 10 %>
  <%= render partial: 'shared/error_messages', locals: { record: @vehicle, symbol: :manufacture } %>
</div>
<div>
  <%= f.label :current_drive_distance, '現在の走行距離(任意)' %><br>
  <%= f.number_field :current_drive_distance, size: 10 %>
  <%= render partial: 'shared/error_messages', locals: { record: @vehicle, symbol: :current_drive_distance } %>
</div>
