<div>
  <%= f.label :user_name, 'お名前(フルネーム)' %><br>
  <%= f.text_field :user_name, size: 10 %>
  <%= render partial: 'shared/error_messages', locals: { record: @user, symbol: :user_name } %>
</div>
<div>
  <%= f.label :telephone, 'お電話番号' %><br>
  <%= f.number_field :telephone, size: 10 %>
  <%= render partial: 'shared/error_messages', locals: { record: @user, symbol: :telephone } %>
</div>
