<%= render 'shared/is_login', user: @user %>
<h2>ユーザー情報を変更する。</h2>
<%= form_for @user, url: edit_confirm_user_path(@user), data: { turbo: false } do |f| %>
  <%= render partial: 'user_form', locals: {f: f} %>
  <%= f.hidden_field :email %>
  <div>
    <%= f.label :password, 'パスワード' %><br>
    <%= f.text_field :password, size: 10 %>
    <%= render partial: 'shared/error_messages', locals: { record: @user, symbol: :password } %>
  </div>
  <div>
    <%= f.label :password_confirmation, 'パスワード(確認)' %><br>
    <%= f.text_field :password_confirmation, size: 10 %>
    <%= render partial: 'shared/error_messages', locals: { record: @user, symbol: :password_confirmation } %>
  </div>
  <%= f.submit '確認画面へ' %>
<% end %>
