<h2>ユーザーの管理</h2>
<% if @users&.empty? %>
  <p>ユーザーは登録されていません。</p>
<% else %>
  <%= paginate @users %>
  <% @users.each do |user| %>
    <div>
      <table border="1" >
        <tr>
          <th><%= t('activerecord.attributes.user.user_name') %></th>
          <th><%= t('activerecord.attributes.user.email') %></th>
          <th><%= t('activerecord.attributes.user.telephone') %></th>
          <th><%= t('activerecord.attributes.user.password') %></th>
          <th><%= t('activerecord.attributes.user.is_active') %></th>
          <th><%= t('activerecord.attributes.user.is_admin') %></th>
        </tr>
        <tr>
          <td><%= user.user_name %></td>
          <td><%= user.email %></td>
          <td><%= user.telephone %></td>
          <td><%= user.password %></td>
          <td><%= user.active_text? %></td>
          <td><%= user.admin_text? %></td>
          <td><%= link_to 'edit', edit_user_path(user) %></td>
          <td><%= link_to 'destroy', user_destroy_path(user),
          data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }%></td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>
