<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="my-3 mx-5">
            <h5>運転日報の作成</h5>
          </div>
          <%= form_for @daily_log, url: confirm_daily_logs_path(@daily_log), data: { turbo: false } do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="field">
              <div class="row">
                <%= render partial: 'daily_logs/shared/form', locals: {f: f} %>
                <div class="form-check m-2 mb-3 justify-content-start">
                  <%= f.check_box :is_alcohol_check, class: " form-check-input" %>
                  <%= f.label :is_alcohol_check, 'アルコール検査は実施しましたか？' %><br>
                  <%= render partial: 'shared/error_messages', locals: { record: @daily_log, symbol: :is_alcohol_check } %>
                </div>
                <div class="submit-btn ms-3">
                  <%= f.submit '確認画面へ',class: "btn btn-primary btn-block" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>