<nav class="navbar navbar-fixed-top navbar-light">
  <%# ゲストユーザー %>
  <% unless user_signed_in? %>
    <div class="container">
      <%= link_to image_tag("img_logo.png"), root_path, class:"nav-logo" %>
      <%= render '/layouts/navbar_share/guest_user' %>
    </div>
  <% else %>
    <div class="container">
      <div class="nav nav-user">
        <% if current_page?(daily_logs_path) %>
          <li>
            <a class="nav-link active text-white" aria-current="page">運転日報</a>
          </li>
        <% else %>
          <li><%= link_to_unless_current '運転日報', daily_logs_path, data: { turbo: false }, class:"nav-link" %></li>
        <% end %>
        <% if current_user.admin %>
          <% if current_page?(daily_logs_for_admin_index_path) %>
            <li><a class="nav-link active text-white" aria-current="page">日報一覧</a></li>
          <% else %>
            <li><%= link_to_unless_current '日報一覧', daily_logs_for_admin_index_path, data: { turbo: false },class:"nav-link" %></li>
          <% end %>
          <% if current_page?(users_for_admin_index_path) %>
            <li><a class="nav-link active text-white" aria-current="page">社員情報</a></li>
          <% else %>
            <li><%= link_to_unless_current '社員情報', users_for_admin_index_path, data: { turbo: false },class:"nav-link" %></li>
          <% end %>
          <% if current_page?(management_vehicles_path) %>
            <li><a class="nav-link active text-white" aria-current="page">車両一覧</a></li>
          <% else %>
            <li><%= link_to_unless_current '車両一覧', management_vehicles_path, data: { turbo: false }, class:"nav-link" %></li>
          <% end %>
        <% end %>
      </div>
      <div class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">アカウント</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="ms-1 mb-1"><%= link_to "設定", user_path(current_user), class:"text-dark dropdown-item" %></li>
            <li class="ms-1 mb-2"><%= link_to '操作方法', daily_logs_path, data: { turbo: false }, class:"text-dark dropdown-item" %></li>
            <div class="dropdown-divider"></div>
            <li class="ms-1"><%= link_to "ログアウト", destroy_user_session_path, data: { "turbo-method": :delete }, class:"text-danger dropdown-item" %></li>
          </ul>
        </li>
      </div>
    </div>
  <% end %>
</nav>